.about {
    display: flex;
    flex-wrap: wrap;
}

.about__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 0;
    position: relative;

    &:nth-child(3n) {
            margin-right: 0;
        }
}


.about__overlay {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}

.about__meta {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    text-align: center;
}