.clients-list {
    display: flex;
    flex-wrap: wrap;
}

.clients-list__item {
    margin-right: 30px;
    &:nth-child(6n) {
            margin-right: 0;
        }
}

.clients-list__link {
    fill: var(--client-color);
    border: 1px solid var(--client-color);

    display: flex;
    width: 170px;
    height: 92px;

    border-radius: 4px;
    align-items: center;
    justify-content: center;

    transition: fill var(--animation-time) var(--animation-cubic),
        border var(--animation-time) var(--animation-cubic);

        &:hover,
            &:focus {
                fill: var(--link-color);
                border: 1px solid var(--link-color);
            }
}

