.features {
    @media screen and (min-width: 768px) {
        display: flex;
       flex-wrap: wrap;
        gap: 30px;
    }

}


.features__item {

    &:not(:last-child) {
            margin-bottom: 30px;
        }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px)/2);
       margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px)/4);
    }

}


.features__icon {
    background-color: var(--team-color);
    
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    display: flex;
     justify-content: center;
     align-items: center;
}


.features__meta {
    margin: 0;
    line-height: 1.7;
}

.features__title,
.team-card__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;

}

.features__title {
    @media screen and (max-width:767px) {
        text-align: center;
    }
}

// .features {
//     display: flex;
//     flex-wrap: wrap;
// }

// .features__item {
//     width: 270px;
//     margin-right: 30px;
//     margin-top: 0;
//     margin-bottom: 0;

//     &:nth-child(4n) {
//             margin-right: 0;
//         }
// }

// .features__icon {
//     height: 120px;
//     background-color: var(--team-color);
//     margin-bottom: 30px;
//     border-radius: 4px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }