.footer {
  background-color: var(--primary-footer-color);
}

.footer__container {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 60px;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.footer__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media screen and (max-width: 767px) {
    &:last-child {
      width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: auto;
    }
  }
}

// footer {
//     background-color: var(--primary-footer-color);
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

// .footer__container {
//     display: flex;
//     align-items: baseline;
// }

.logo-link--footer {
  margin-bottom: 20px;
}

.logo-link__second--white {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
}
