.logo-link {
    
    display: inline-block;
    text-decoration: none;
    font-family: $font-logo;
    color: var(--primary-black-color);
    font-size: 24px;
    line-height: 1.2;
    padding: 16px 0;


  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
}

}

.logo-link__first {
    color: var(--link-color);
}


