.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity var(--animation-time) var(--animation-cubic);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;

    background-color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--animation-time) var(--animation-cubic);
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: fill var(--animation-time) var(--animation-cubic);

    &:hover,
        &:focus {
            fill: var(--link-color);
        }
}

