.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__project-link {
    display: block;
    text-decoration: none;
    transition: box-shadow var(--animation-time) var(--animation-cubic);
    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

                &:hover .portfolio-thumb__text,
                &:focus .portfolio-thumb__text {
                    opacity: 1;
                    transform: translateY(0);
                }
}


.portfolio__item {
    /* width: calc((100%-60px)/3); */
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    
        &:nth-child(3n) {
            margin-right: 0;
        }
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-thumb__text {
    position: absolute;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    top: 0;

    transform: translateY(100%);
    transition: transform var(--animation-time) var(--animation-cubic);
}



.portfolio-thumb__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.portfolio__item img {
    display: block;
}

.portfolio-thumb__info {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.portfolio-thumb__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    margin: 0;
    margin-bottom: 4px;
}

.portfolio-thumb__description {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    margin: 0;
}
