.team {
  background-color: var(--team-color);
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__item {
    
  background-color: var(--primary-white-color);
  margin-bottom: 30px;
  max-width: 450px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

    &:nth-child(4n) {
             margin-bottom: 0;
         }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}


.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__title {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.team-card__position {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

.img {
  display: block;
  max-width: 100%;
    height: auto;
}


// .team-list {
//     display: flex;
//     flex-wrap: wrap;
// }

// .team-list__item {
//     width: 270px;
//     margin-right: 30px;
//     margin-bottom: 0;

//     background-color: var(--primary-white-color);

//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//         0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;

//     &:nth-child(4n) {
//             margin-right: 0;
//         }
// }

