body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: $font-body;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

     @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}



.section {
        padding: 60px 0;

@media screen and (min-width: 1200px) {
    padding: 94px 0 94px;
    
}
}

// .section {
//     display: flex;
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

.section.no-padding {
    padding-top: 0;
    

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.section__title {
    margin-top: 0;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }


}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}