:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --primary-footer-color: #2f303a;
    --team-color: #f5f4fa;
    --client-color: #afb1b8;
    --animation-time: 250ms;
    --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    $font-body: Roboto, sans-serif;
    $font-logo: Raleway, sans-serif;
}